<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon">
        <mat-icon class="material-icons color_white">menu</mat-icon>
      </button>
      <span>Página Inicial</span>
      <span class="example-spacer"></span>
      <button mat-stroked-button class="example-icon favorite-icon" >
        <span>Menu de Equipes</span>
      </button>
      <button mat-stroked-button class="example-icon">
        <span>Histórico</span>
      </button>
    </mat-toolbar>
  </p>