a {
    text-decoration: none;
    color: black;
}

a:hover, a:active{
    color: #0b2447;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    border-radius: 0px;
    height: 10%;
}

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-items {
    display: flex;
}

.navigation-items p {
    margin-left: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar span {
    color: white;
}
.material-icons.color_white { color: white; }