<mat-dialog-content class="mat-typography">
    <div class="content">
        <h2 class="title">Você solucionou todos os enigmas!</h2>
        <p>
            Você pode voltar para o menu de portas-caminho ou ir até a página de histórico
            para ver seu desempenho com mais detalhes.
        </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div class="example-button-row">
        <button mat-raised-button (click)="goToHistory();">Ir para histórico</button>
    </div>
    <div class="example-button-row">
        <button mat-raised-button id="btn-proximo" color="primary" (click)="goToMenu();">Menu de portas-caminho</button>
    </div>
</mat-dialog-actions>
