<div class="container">
    <div class="header">
        <div class="return">
            <button mat-icon-button [routerLink]="['/teams']">
                <mat-icon class="material-icons color_white">arrow_back_ios</mat-icon>
            </button>
        </div>
        <div class="info">
            <button mat-icon-button (click)="openDialog();">
                <mat-icon class="material-icons color_blue">
                    <span class="material-symbols-outlined">info</span>    
                </mat-icon>
            </button>
        </div>
    </div>
    <div class="content">
        <h3>Escolha uma porta caminho</h3>
        <div class="options">
            <div class="portas">
                <img class="door-img" alt="Raio Xcape" src="assets/img/porta1.png" />
                <p> {{ portaCaminho.CABECA_E_PESCOCO }} </p>
                <div class="example-button-row">
                    <button mat-raised-button style="background-color: #87b9f3b2;" (click)="escolhePortaCaminho(portaCaminho.CABECA_E_PESCOCO)">Escolher porta</button>
                </div>
            </div>
            <div class="portas">
                <img class="door-img" alt="Raio Xcape" src="assets/img/porta2.png" />
                <p> {{ portaCaminho.TORAX }} </p>
                <div class="example-button-row">
                    <button mat-raised-button style="background-color: #87b9f3b2;" (click)="escolhePortaCaminho(portaCaminho.TORAX)">Escolher porta</button>
                </div>
            </div>
            <div class="portas">
                <img class="door-img" alt="Raio Xcape" src="assets/img/porta3.png" />
                <p> {{ portaCaminho.ABDOMEN }} </p>
                <div class="example-button-row">
                    <button mat-raised-button style="background-color: #87b9f3b2;" (click)="escolhePortaCaminho(portaCaminho.ABDOMEN)">Escolher porta</button>
                </div>
            </div>
            <div class="portas">
                <img class="door-img" alt="Raio Xcape" src="assets/img/porta4.png" />
                <p> {{ portaCaminho.MUSCULO_ESQUELETICO }} </p>
                <div class="example-button-row">
                    <button mat-raised-button style="background-color: #87b9f3b2;" (click)="escolhePortaCaminho(portaCaminho.MUSCULO_ESQUELETICO)">Escolher porta</button>
                </div>
            </div>
        </div>
        <p class="warning">Atenção! É recomendado que você jogue as portas em ordem</p>
    </div>
</div>