<div class="content">
    <div class="content-left">
        <mat-card id="card1" class="example-card">
            <mat-card-content>
                <img class="img" alt="Raio Xcape" src="assets/img/hospital1.jpg" />
            </mat-card-content>
        </mat-card>
    </div>
    <div class="content-rigth">
        <mat-card id="card2">
            <p>Teste</p>
        </mat-card>
        <div class="content-button">
            <div class="example-button-row">
                <button mat-raised-button>Continuar</button>
            </div>
        </div>
    </div>
</div>