<body id="body" style="background-color: #F2FEFF;">
    <a class="link-back" routerLink="/game/{{jogoId}}"><button mat-icon-button>
            <mat-icon class="material-icons color_white">arrow_back_ios</mat-icon>
        </button></a>
    <img class="bkg-img" src="assets/img/logoreduz1.png" />
    <div class="header">
        <mat-card id="mat-header">
            <div class="cabecalho">
                <h3 class="categoria">{{ this.categoria }}</h3>
                <mat-divider></mat-divider>
                <div class="conteudo">
                    <div class="option">
                        <p class="score">Equipe: {{ this.jogo.equipe?.nome }} </p>
                        <p class="score">Pontuação: {{ this.pontuacao }} </p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div><br>
    <div class="info">
        <div class="info-container">
            <button mat-icon-button (click)="openDialog();">
                <mat-icon class="material-icons color_blue">
                    <span class="material-symbols-outlined">info</span>
                </mat-icon>
            </button>
            <p class="info-label">Sobre o jogo</p>
        </div>
    </div>
    <div class="content">
        <mat-card id="mat-question">
            <mat-card-content>
                <mat-card id="mat-title">
                    <div class="card-header">
                        <div class="question-label">
                            <label>Questão {{ indiceAtual+1 }}</label>
                        </div>
                        <div class="level-card">
                            <mat-card id="nivel" [ngClass]="{
                                'facil': dificuldade === 'Fácil',
                                'medio': dificuldade === 'Médio',
                                'dificil': dificuldade === 'Difícil' }">
                                <p class="nivel">{{ dificuldade }}</p>
                            </mat-card>
                        </div>
                    </div>
                </mat-card>
                <mat-card id="mat-enigma">
                    <p id="pergunta">{{ this.perguntaAtual.pergunta }}</p>
                    <section class="example-section">
                        <p class="opcaoResposta"><mat-checkbox class="opcaoResposta" id="resposta1"
                                (change)="salvarResposta(0)">{{ perguntaAtual.opcoesResposta[0].opcaoResposta
                                }}</mat-checkbox></p>
                        <p class="opcaoResposta"><mat-checkbox class="opcaoResposta" id="resposta2"
                                (change)="salvarResposta(1)">{{ perguntaAtual.opcoesResposta[1].opcaoResposta
                                }}</mat-checkbox></p>
                        <p class="opcaoResposta"><mat-checkbox class="opcaoResposta" id="resposta3"
                                (change)="salvarResposta(2)">{{ perguntaAtual.opcoesResposta[2].opcaoResposta
                                }}</mat-checkbox></p>
                        <p class="opcaoResposta"><mat-checkbox class="opcaoResposta" id="resposta4"
                                (change)="salvarResposta(3)">{{ perguntaAtual.opcoesResposta[3].opcaoResposta
                                }}</mat-checkbox></p>
                    </section>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="example-button-row">
        <button mat-raised-button id="btn-proximo" [disabled]="respostasSelecionadas.length === 0" color="primary"
            (click)="verificarResposta(respostasSelecionadas)">Próximo</button>
    </div>

</body>