<body style="background-color: #F2FEFF;">
    <a class="link-back" routerLink="/game/{{jogoId}}"><button mat-icon-button>
            <mat-icon class="material-icons color_white">arrow_back_ios</mat-icon>
        </button></a>
    <img class="bkg-img" src="assets/img/logoreduz1.png" />
    <div class="header">
        <mat-card id="mat-header">
            <div class="cabecalho">
                <h3 class="categoria">{{ this.categoria }}</h3>
                <mat-divider></mat-divider>
                <div class="conteudo">
                    <div class="option">
                        <p class="time">Tempo</p>
                    </div>
                    <div class="option">
                        <p class="score">Pontuação</p>
                        <p class="score"> {{ this.jogo.pontos }} </p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div><br>
    <div class="content">
        <mat-card id="mat-question">
            <mat-card-content>
                <mat-card id="mat-title">
                    <div class="card-header">
                        <div class="question-label">
                            <label>Questão {{ indiceAtual+1 }}</label>
                        </div>
                        <div class="level-card">
                            <mat-card id="nivel">
                                <p class="nivel">{{ perguntaAtual!.nivelDificuldade }}</p>
                            </mat-card>
                        </div>
                    </div>
                </mat-card>
                <mat-card id="mat-enigma">
                    <p id="pergunta">{{ perguntaAtual!.pergunta }}</p>
                    <section class="example-section" >
                        <p class="opcaoResposta"><mat-checkbox class="opcaoResposta" id="resposta1">{{ perguntaAtual.opcoesResposta[0].opcaoResposta }}</mat-checkbox></p>
                        <p class="opcaoResposta"><mat-checkbox class="opcaoResposta" id="resposta2">{{ perguntaAtual.opcoesResposta[1].opcaoResposta }}</mat-checkbox></p>
                        <p class="opcaoResposta"><mat-checkbox class="opcaoResposta" id="resposta3">{{ perguntaAtual.opcoesResposta[2].opcaoResposta }}</mat-checkbox></p>
                        <p class="opcaoResposta"><mat-checkbox class="opcaoResposta" id="resposta4">{{ perguntaAtual.opcoesResposta[3].opcaoResposta }}</mat-checkbox></p>
                    </section>
                </mat-card>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="example-button-row">
        <button mat-raised-button id="btn-proximo" color="primary" (click)="salvarRespostas()">Próximo</button>
    </div>

</body>