.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.img-log {
    max-width: 10px;
}

mat-card {
    width: 50%;
    padding: 8px;
}

mat-card-content.mat-mdc-card-content {
    height: 65%;
}

#mat-question {
    height: 85%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #0B2447;
}

#mat-title {
    background-color: white;
    width: 100%;
    height: 25%;
    margin-bottom: 3%;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
}

.question-label {
    background-color: white;
    width: 70%;
}

#nivel {
    width: 80%;
    height: 6%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: bold;
    align-items: center;
}

.nivel {
    margin: 0 0 0 0;
    font-size: 12px;
}

.level-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

#mat-enigma {
    width: 100%;
    height: 105%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

#mat-header {
    margin-top: 15px;
    width: 50%;
    height: 90%;
}

.categoria {
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Helvetica';
    margin-bottom: 2px;
}

.title {
    margin-bottom: -25px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}


.score {
    color: black;
    font-size: 15px;
    margin-top: 5%;
    font-family: 'Helvetica';
}

.material-icons.color_white {
    color: #0b2447;
    justify-content: right;
}

.bkg-img {
    position: fixed;
    width: 10%;
    top: 1;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    opacity: 0.8;
}

.link-back {
    position: absolute;
}

button,
.example-button-row button,
.example-button-row a {
    margin-top: 10px;
    width: 10%;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.example-section {
    margin: 12px 0;
}

.opcaoResposta {
    margin: 0px 0px 1px 0px;
    font-size: 10px
}

mat-checkbox {
    margin: 0px 0px 0px 0px;
}

#pergunta {
    margin-bottom: 0px;
    margin-right: 1px;
    margin-left: 1px;
}


.material-icons.color_blue {
    color: #0b2447;
}

.info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 10px;
    margin-bottom: 0px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.info-label {
    color: #0b2447;
    font-size: 12px;
    font-family: 'Helvetica';
    margin-top: -2px;
    margin-bottom: 0;
}

.facil {
    background-color: rgb(77, 250, 77);
}

.medio {
    background-color: yellow;
}

.dificil {
    background-color: orange;
}