h2 {
    color: black;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Helvetica';
    margin-left: 0;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Helvetica';
    margin-left: 0;
}


p {
    font-size: 100%;
    font-weight: 300;
    font-family: 'Helvetica';
    text-align: justify;
    line-height: 1.5;;
    color: #0b2447;
}

.obs {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

li {
    color: #0b2447;
}

.goodgame {
    font-weight: bold;
    font-style: italic;
}

.enumerate {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.material-icons.color_white {
    color: #0823b9;
}