<mat-dialog-content class="mat-typography">
    <div class="content">
        <p class="title">Sobre Jogo</p>
        <p>
            Raio Xcape é um jogo didático, no estilo Escape Room, que trata sobre assuntos de radiologia.
            Desenvolvido como uma parceria entre a Universidade Federal de Santa Maria (UFSM) e a Associação
            Gaúcha de Radiologia (AGR). Seu público-alvo são médicos residentes em radiologia, e o objetivo do
            jogo é proporcionar uma experiência imersiva de formação na área para acadêmicos de medicina do
            Rio Grande do Sul.
        </p>
        <p class="title">Estrutura do Jogo</p>
        <p>
            A estrutura do jogo é dividida em algumas partes, sendo um Escape Room, o principal objetivo do Jogo
            é a solução de enigmas para avançar fases. Para jogar, são necessários seguir os descritos abaixo:
        </p>
        <ol>
            <li>Criar e selecionar uma equipe</li>
            <li>Selecionar a porta caminho</li>
            <li>Responder enigmas</li>
        </ol>
        <p class="enumerate">1. Criar e selecionar uma equipe</p>
        <p>Para jogar, você deve criar uma Equipe, informando o nome da equipe, o número de integrantes e seus nomes. Será possível
        selecionar a equipe desejada para criar um novo jogo e responder as perguntas. 
        </p>
        <p class="enumerate">2. Selecionar a porta caminho</p>
        <p>
            Após selecionada a equipe e clicado para iniciar o jogo, você será direcionado para a primeira tela do jogo, no qual deve escolher 
            qual porta caminho seguir, ou seja, sobre qual assunto deseja responder as perguntas. São eles:
        </p>
        <ul>
            <li>Cabeça e Pescoço</li>
            <li>Tórax</li>
            <li>Abdomen</li>
            <li>Músculo Esquelético</li>
        </ul>
        <p>
            Os enigmas são classificados por níveis de dificuldade (fácil, médio e difícil) e podem ter mais de uma opção de resposta correta. A pontuação é determinada levando em consideração tanto o número de respostas corretas selecionadas pela equipe (já que um enigma pode ter mais de uma resposta correta) quanto o tempo que a equipe leva para resolvê-lo. No caso em que a equipe seleciona todas as opções de resposta como uma tentativa de "chute", sua pontuação será proporcionalmente afetada pela extensão desse "chute".
        </p>
        <p class="enumerate">3. Responder enigmas</p>
        <p>
            Por fim, com o tema selecionado a equipe poderá responder aos enigmas, levando em consideração o tempo disponível. Serão aproximadamente
            12 enigmas por porta caminho. Ao terminar o jogo, será exibida a pontuação final, e a equipe poderá escolher se deseja continuar a jogar
            ou se deseja ir até a tela de Histórico de jogos para ver os detalhes do jogo (erros e acertos).
        </p>
        <br>
        <p>
            <span class="obs">Observação!</span>
            Os enigmas desenvolvidos para o jogo foram criados através da tecnologia do ChatGPT, e por isso podem conter inconsistências relacionadas 
            ao tema.
        </p>
        <br><br>

        <p class="goodgame">Bom Jogo!</p>    
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
