<h2 mat-dialog-title>Sobre Jogo</h2>
<mat-dialog-content class="mat-typography">
    <div class="content">
        <h2>Regras</h2>
            <p>
                Para proporcionar ao jogador uma experiência mais rica e significativa, é essencial que o jogo
                possua um
                enredo, ainda mais se tratando de um jogo cujo objetivo é o aprendizado, como o deste trabalho.
                Tendo
                isso em mente, foi desenvolvido o seguinte enredo: “Os pacientes do Hospital Jade Vine estavam cada
                vez
                mais desconfiados dos médicos radiologistas que trabalhavam lá. Eles notaram que, sempre que iam
                realizar um exame de raio-x, os médicos saíam correndo da sala assim que acionavam a máquina,
                deixando-os sozinhos e vulneráveis à radiação. “O que eles estavam escondendo?!” O que eles sabiam
                que
                eu não posso saber?!”, se perguntavam os pacientes. Não aguentando mais essa situação, eles
                resolveram
                descobrir a verdade por conta própria. Em uma noite fria e chuvosa, eles invadiram o hospital e
                capturaram todos os médicos radiologistas que estavam de plantão naquela noite, levando-os para um
                lugar
                isolado e desconhecido. Era um prédio velho e sombrio, que parecia abandonado há anos, com quatro
                andares, cada um com diversas salas. Cada andar possuía um tema diferente, relacionado a um dos
                seguintes assuntos no contexto de radiologia: cabeça e pescoço, tórax, abdômen e músculo
                esquelético.
                Cada sala tinha um enigma, que os médicos teriam que solucionar para avançar para a próxima sala.
                Mas
                não eram enigmas simples, eram desafios que testavam o conhecimento dos médicos. Após os médicos
                conseguirem escapar de todas as salas de um andar, eles seriam levados para o próximo andar, e assim
                sucessivamente, até que todas as salas de todos os andares teriam sido completadas, libertando de
                vez os
                médicos. O objetivo dos pacientes era descobrir se os médicos eram realmente competentes, se eles
                sabiam
                o que estavam fazendo e se eles se importavam com os seus pacientes. Será que eles conseguiriam
                escapar
                desse pesadelo e restaurar a confiança de seus pacientes?”
            </p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>