.example-button-row button,
.example-button-row a {
    margin-right: 8px;
    height: 60px;
    width: 300px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.example-disabled {
  display: inline-block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.logo-img {
    width: 600px;
    margin-top: 0px;
  }

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}