<div class="info">
    <div class="info-container">
        <button mat-icon-button (click)="openDialog();">
            <mat-icon class="material-icons color_blue">
                <span class="material-symbols-outlined">info</span>
            </mat-icon>
        </button>
        <p class="info-label">Sobre o jogo</p>
    </div>
</div>
<div class="container">
    <img class="logo-img" alt="Raio Xcape" src="assets/img/logorx.png" />
    <div class="button-container">
        <div class="example-button-row">
            <a routerLink="/teams"><button mat-raised-button color="primary">Iniciar Jogo</button></a>
        </div>
        <div class="example-button-row">
            <a routerLink="/history"><button mat-raised-button color="accent">Histórico</button></a>
        </div>
    </div>
</div>