/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';
@include mat-core();


$my-palette: (
 50: #e5e9ee,
 100: #bdc7d7,
 200: #93a3bc,
 300: #6a80a0,
 400: #4a668f,
 500: #274e7f,
 600: #204776,
 700: #173d6b,
 800: #11345f,
 900: #0b2447,
 
 contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87)
 )
);

$my-palette-sec: (
 50:  #e7eaf5,
 100: #c3cae7,
 200: #9ca8d7,
 300: #7586c7,
 400: #576bbc,
 500: #3752b1,
 600: #314aa7,
 700: #28409b,
 800: #1f368f,
 900: #0e247a,
 
 contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87)
 )
);


$custom-app-primary: mat-palette($my-palette, 900);
$custom-app-secondary: mat-palette($my-palette-sec, 900);
$custom-app-warn: mat-palette($mat-orange);

$custom-theme: mat-light-theme($custom-app-primary, $custom-app-secondary, $custom-app-warn);

@include angular-material-theme($custom-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif; }


