.dialog {
    padding: 15px;
}

input {
    border-radius: 10px;
    height: 25px;
    width: 250px;
    margin: 10px 15px 10px 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-color: black;
}

.example-button-row button,
.example-button-row a {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: black;
    font-size: 20px;
}

h3 {
    font-size: 16px;
    color: black;
    font-weight: 450;
}

label {
    font-size: 14px;
    font-weight: lighter;
}

mat-card {
    padding: 10px;
    width: 700px;
    
}

mat-dialog-title,
mat-dialog-actions,
mat-dialog-content {
    background-color: rgb(231, 231, 231);
}
